* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* header-start */
header {
    padding: 50px;
    background-color: #FF900E1A;
    max-width: 1440px;
    margin: auto;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav .nav-title {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    text-align: center;
    color: #131313;
}

.nav .nav-menu {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
}

.nav .nav-menu ul {
    display: flex;
    align-items: center;
}

.nav .nav-menu li {
    list-style: none;
    padding: 10px 20px;
    border-bottom: 1px solid transparent;
    transition: .50s ease-in-out;
}

.nav .nav-menu li:hover {
    border-bottom: 1px solid #424242;
}

.nav .nav-menu a {
    text-decoration: none;
    color: #424242;
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 70px 40px 20px 40px;
    text-align: center;
}

.header-content .header-title {

    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    color: #131313;
    font-weight: bold;
}

.header-content .header-article {

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
    padding: 40px 0;
}

.header-content .header-button {
    background: #FF900E;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid transparent;
    transition: .50s ease-in-out;
}

.header-content .header-button:hover {
    background: #ffffff;
    color: #FF900E;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #FF900E;
}

.header-content>div {
    flex: 1;
}

.header-image {
    padding: 40px;
}

.header-image img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

/* header-end */
/* -----------------------------feature-start----------------------------- */
.features-section {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 50px 40px;
    max-width: 1440px;
    margin: auto;
}

.features-section>div {
    flex: 1;
}

.features-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.features-images img {
    height: 100%;
    width: 100%;
}

.features-section .features-content {
    color: #727272;
    font-style: normal;
    padding: 40px;
    text-align: left;
    margin-left: 30px;

}

.features-section .features-content h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
    color: #727272;
}

.features-section .features-content .bold {
    color: #131313;
    font-weight: bold;
}

.features-section .features-content .orange {
    color: #FF900E;
    font-weight: bold;
}

.features-section .features-content p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-bottom: 32px;
}

.features-section .features-content button {
    background-color: #FF900E;
    padding: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    border: 1px solid transparent;
    border-radius: 8px;
    transition: .50s ease-in-out;
}

.features-section .features-content button:hover {
    background-color: #ffffff;
    color: #FF900E;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    border: 1px solid #FF900E;
    border-radius: 8px;
}

/* =================features-end======================== */


/* ====================.love-and-enjoy-start======================== */
.love-and-enjoy {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(auto, auto);
    grid-gap: 20px;
    max-width: 1440px;
    margin: auto;
    padding-top: 100px;
}

.love-and-enjoy-content-1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 20px;
}

.love-and-enjoy-content-2 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 5;
}

.love-and-enjoy-content-3 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
}

.love-and-enjoy p {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    padding: 20px 0;
}

.love-and-enjoy .love-and-enjoy-content-1 h2 {
    border-left: 10px solid #FF900E;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
    padding-left: 25px;
}

.love-and-enjoy .love-and-enjoy-content-2 .love-and-enjoy-sub-content h4 {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #131313;
}

.love-and-enjoy .love-and-enjoy-content-2 .love-and-enjoy-sub-content {
    background: #FFFFFF;
    padding: 0 0 20px 35px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}

.love-and-enjoy .love-and-enjoy-content-3 {}

.love-and-enjoy .love-and-enjoy-content-3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.love-and-enjoy .love-and-enjoy-content-3 .love-and-enjoy-image {
    position: relative;
}

.love-and-enjoy .love-and-enjoy-content-3 .experience {
    background-color: blueviolet;
    position: absolute;
    padding: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 70px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 8px;
    bottom: -5%;
    left: -10%;
}

/* ====================love-and-enjoy-end======================== */




/* ==============================some-facts-start=================================== */
.some-facts {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: 100px 0;
    max-width: 1440px;
    margin: auto;
}

.some-facts .some-facts-content {
    text-align: left;
}

.some-facts .some-facts-content-title {
    font-size: 45px;
    font-weight: 700;
    line-height: 53px;
    letter-spacing: 0em;
    color: #131313;
}

.some-facts .some-facts-content-sub-title {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    color: #727272;
}

.some-facts .some-facts-icons {
    display: flex;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    text-align: center;
}

.some-facts .some-facts-icon {
    padding: 50px;
    min-width: 242px;
    min-height: 242px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    margin: 50px;
    transition: .50s ease-in-out;
}

.some-facts .some-facts-icon:hover {
    background-color: #ff8f0eb5;
    color: #FFFFFF;
    border: 1px solid transparent;
    transform: rotate(-10deg);
}

.some-facts .some-facts-icon {
    color: black;
}

.some-facts h3 {
    font-size: 45px;
    font-weight: 600;
    line-height: 53px;
    letter-spacing: 0em;
    padding-bottom: 10px;
}

.some-facts h4 {
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0em;
}


/* ==============================some-facts-end=================================== */

/* =======================our-sponsors-start================================================= */

.our-sponsors {
    text-align: center;
    padding: 50px;
    max-width: 1440px;
    margin: auto;
}

.our-sponsors .our-sponsors-title {
    padding: 25px 0;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
}

.our-sponsors .our-sponsors-article {
    padding: 25px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

.our-sponsors .our-sponsors-images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.our-sponsors .our-sponsors-img img {
    filter: grayscale(100%);
    margin: 50px;
    transition: .50s ease-in-out;
}

.our-sponsors .our-sponsors-img img:hover {
    filter: grayscale(0%);
}

/* =======================our-sponsors-end================================================= */
/* newsletter-start  */
.newsletter-body{
	background: url('images/bg.jpg') no-repeat center;
	background-size: cover;
	max-width: 1440px;
	height: 900px;
    margin: auto;
}

.wrapper{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	letter-spacing: 2px;
}

.wrapper h1{
	margin: 15px 0;
	font-size: 36px;
	color: rgb(255, 255, 255);
}

.typing-demo {
    width: 560px;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid #FFFFFF;
    font-size: 36px;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }
.wrapper p{
	margin-bottom: 40px;
	color: #b2b2b2;
	font-size: 20px;
}

.newsletter{
	max-width: 550px;
	width: 100%;
	position: relative;
}

.newsletter .input{
	width: 100%;
	padding: 30px 100px 30px 60px;
	border-radius: 5px;
	border: none;
	font-weight: bold;
}

.newsletter .fa-envelope{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);	
	left: 20px;
	font-size: 25px;
}

.newsletter .btn{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 30px;
	background: #4dabf7;
	padding: 15px 20px;
	border-radius: 25px;
	font-size: 12px;
	letter-spacing: 5px;
	color: #fff;
	cursor: pointer;
	text-transform: uppercase;
}
/* newsletter-end  */
/* =======================footer-start=================== */
.footer {
    background-color: rgb(255, 255, 255);
    max-width: 1440px;
    margin: auto;
}

.copywrite {
    background-color: #FFF4E7;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #424242;
    text-align: center;
    padding: 20px;
}

/* =======================footer-end=================== */

/* @media only screen and (max-width:576px) */
@media only screen and (max-width:576px) {
    .nav {
        flex-direction: column;
    }

    .nav .nav-menu {
        padding-top: 50px;
    }

    .nav .nav-menu ul {
        flex-direction: column;
    }

    .features-section {
        flex-direction: column;
    }

    .love-and-enjoy {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: justify;
    }

    .love-and-enjoy .love-and-enjoy-content-3 .experience {
        background-color: blueviolet;
        position: absolute;
        margin-bottom: 50px;
        bottom: -10%;
        left: 20%;
    }

    .love-and-enjoy .love-and-enjoy-content-1 h2 {
        border-left: 0;
        border-bottom: 10px solid #FF900E;
        max-width: 425px;
        margin: auto;
        color: #131313;
        padding-bottom: 25px;
    }

    .love-and-enjoy .love-and-enjoy-content-1 p,
    .love-and-enjoy .love-and-enjoy-content-2 h4,
    .love-and-enjoy .love-and-enjoy-content-2 p {
        border-left: 0;
        max-width: 425px;
        margin: auto;
        color: #131313;
        padding-bottom: 25px;
    }

    .our-sponsors .our-sponsors-images {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }



    .some-facts .some-facts-content {
        text-align: center;
    }

    .some-facts .some-facts-icons {
        flex-direction: column;
    }
}

/* @media only screen and (min-width:577px) and (max-width:768px) */
@media only screen and (min-width:577px) and (max-width:768px) {
    .nav {
        flex-direction: column;
    }

    .nav .nav-menu {
        padding-top: 50px;
    }

    .features-section {
        flex-direction: column;
    }

    .love-and-enjoy {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: justify;
    }

    .love-and-enjoy .love-and-enjoy-content-3 .experience {
        background-color: blueviolet;
        position: absolute;
        margin-bottom: 50px;
        bottom: -10%;
        left: 20%;
    }

    .love-and-enjoy .love-and-enjoy-content-1 h2 {
        border-left: 0;
        border-bottom: 10px solid #FF900E;
        max-width: 450px;
        margin: auto;
        color: #131313;
        padding-bottom: 25px;
    }

    .love-and-enjoy .love-and-enjoy-content-1 p,
    .love-and-enjoy .love-and-enjoy-content-2 h4,
    .love-and-enjoy .love-and-enjoy-content-2 p {
        border-left: 0;
        max-width: 450px;
        margin: auto;
        color: #131313;
        padding-bottom: 25px;
    }

    .our-sponsors .our-sponsors-images {

        flex-direction: column;
    }

    .some-facts .some-facts-content {
        text-align: center;
    }

    .some-facts .some-facts-icons {
        flex-direction: column;
    }
}

/* @media only screen and (min-width:769px) and (max-width:992px) */
@media only screen and (min-width:769px) and (max-width:992px) {
    .nav {
        flex-direction: column;
    }

    .nav .nav-menu {
        padding-top: 50px;
    }

    .features-section {
        flex-direction: column;
    }

    .love-and-enjoy {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: justify;
    }

    .love-and-enjoy .love-and-enjoy-content-3 .experience {
        background-color: blueviolet;
        position: absolute;
        margin-bottom: 50px;
        bottom: -10%;
        left: 20%;
    }

    .love-and-enjoy .love-and-enjoy-content-1 h2 {
        border-left: 0;
        border-bottom: 10px solid #FF900E;
        max-width: 480px;
        margin: auto;
        color: #131313;
        padding-bottom: 25px;
    }

    .love-and-enjoy .love-and-enjoy-content-1 p,
    .love-and-enjoy .love-and-enjoy-content-2 h4,
    .love-and-enjoy .love-and-enjoy-content-2 p {
        border-left: 0;
        max-width: 480px;
        margin: auto;
        color: #131313;
        padding-bottom: 25px;
    }


    .our-sponsors .our-sponsors-images {
        flex-direction: column;
    }

    .some-facts .some-facts-content {
        text-align: center;
    }

    .some-facts .some-facts-icons {
        flex-direction: column;
    }
}

/* @media only screen and (min-width:993px) and (max-width:1200px) */
@media only screen and (min-width:993px) and (max-width:1200px) {
    .nav {
        flex-direction: column;
    }

    .nav .nav-menu {
        padding-top: 50px;
    }

    .love-and-enjoy {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: justify;
    }

    .love-and-enjoy .love-and-enjoy-content-3 .experience {
        background-color: blueviolet;
        position: absolute;
        margin-bottom: 50px;
        bottom: -10%;
        left: 20%;
    }

    .love-and-enjoy .love-and-enjoy-content-1 h2 {
        border-left: 0;
        border-bottom: 10px solid #FF900E;
        max-width: 500px;
        margin: auto;
        color: #131313;
        padding-bottom: 25px;
    }

    .love-and-enjoy .love-and-enjoy-content-1 p,
    .love-and-enjoy .love-and-enjoy-content-2 h4,
    .love-and-enjoy .love-and-enjoy-content-2 p {
        border-left: 0;
        max-width: 500px;
        margin: auto;
        color: #131313;
        padding-bottom: 25px;
    }

    .features-section {
        flex-direction: column;
    }

    .our-sponsors .our-sponsors-images {
        display: flex;
        flex-direction: column;
    }

    .some-facts .some-facts-content {
        text-align: center;
    }

    .some-facts .some-facts-icons {
        flex-direction: column;
    }
}

/* @media only screen and (min-width:1201px) and (max-width:1440px) */
@media only screen and (min-width:1201px) and (max-width:1440px) {

    .features-section {
        flex-direction: column;
    }

    .love-and-enjoy {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: justify;
    }

    .love-and-enjoy .love-and-enjoy-content-3 .experience {
        background-color: blueviolet;
        position: absolute;
        margin-bottom: 50px;
        bottom: -10%;
        left: 20%;
    }

    .love-and-enjoy .love-and-enjoy-content-1 h2 {
        border-left: 0;
        border-bottom: 10px solid #FF900E;
        max-width: 550px;
        margin: auto;
        color: #131313;
        padding-bottom: 25px;
    }

    .love-and-enjoy .love-and-enjoy-content-1 p,
    .love-and-enjoy .love-and-enjoy-content-2 h4,
    .love-and-enjoy .love-and-enjoy-content-2 p {
        border-left: 0;
        max-width: 550px;
        margin: auto;
        color: #131313;
        padding-bottom: 25px;
    }

    .features-section {
        flex-direction: column;
    }

    .some-facts .some-facts-content {
        text-align: center;
    }

    .some-facts .some-facts-icons {
        flex-direction: column;
    }

}

/* The End  */